@if (false)
{    
<script src="/Scripts/jquery-1.5.1-vsdoc.js" type="text/javascript"></script>
}

<div class="onecolumn">
	<div class="header">
		<span>@*@ResxManager.GetResx("UserList")*@ Danh sách quyền </span>
	</div>
	<br class="clear"/>
	<div class="content">    
        <div id="form_permission_list_partial"></div>
    </div>
</div>
