<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MobileContext" connectionString="metadata=res://*/MobileContext.csdl|res://*/MobileContext.ssdl|res://*/MobileContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Kamiken-Pc;initial catalog=Mobile;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>